.button {
    width: 180px;
    height: 30px;
    background: #4d74c9;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s all;;
}

.button:hover {
    background: #2459cc;
}