.film-info__wrapper {
    height: 100%;
    color: #FFF;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 5;
}

.film-info__wrapper :before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #5e6280;
    opacity: .2;
}
.film-info__title,
.film-info__overview {
    position: relative;
    z-index: 1000;
}

.film-info__title {
    text-align: center;
    font-size: 22px;
    padding: 15px;
}